/* THEMES */
:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #0D0A0B;
    --green0: #8bf382;
    --green1: #7be28a;
    --green2: #59ca59;
    --green3: #36802f;
    --green4: #305730;
    --green5: #1d3d1d;
    --green6: #091606;
}

.light {
    --bg: var(--gray0);
    --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--green0);
}
  

.dark {
    --bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--green2);
}

.green {
    --bg: var(--green5);
    --bg-nav: linear-gradient(to right, var(--green5), var(--green6));
    --bg-dropdown: var(--green6);
    --text: var(--green0);
    --border-color: var(--green2);
}